body {
  background-color: black;
  text-align: center;
}
.download {
  color: aquamarine;
  font-size: 16px;
  font-family: Verdana;
  font-weight: normal;
}
.footer {
  color: gray;
  text-align: right;
  font-size: 21px;
  font-family: Verdana;
}
h1 {
  font-weight: normal;
  color: white;
  font-family: Verdana;
  font-size: 50px;
}
h2 {
  font-size: 42px;
  color: white;
  font-family: Verdana;
  font-weight: 300;
}
.p2 {
  color: gray;
  font-family: Verdana;
  font-size: 21px
}
